body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: start;
    margin-top: 3px;
    border-top: 1px solid rgba(0,0,0,0.22);
    -webkit-box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.22);
    box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.22);
  }
  
  .tab {
    font-weight: bold;
    color: dimgray;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
  }
  
  .tab.active {
    color: blue;
    border-bottom-color: blue;
    
  }
  
  .content {
    display: none;
    padding: 20px;
    height: 100vh;
    border-top: 2px solid transparent;
  }
  
  .content.active {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#alert-box button{
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    color: blue;
    font-weight: bold;
    background:  #928c8c33;
}
.dialog-content {
  margin: 10px;
  display:block;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(228, 74, 74, 0.2);
  
}
.dialog-content h3{
    margin: 0px;
}
.dialog-content #close-dialog{
    padding: 10px 20px;
    margin: 0;
    
    font-size: 16px;
    color: rgb(0, 0, 124);
    background: rgb(218, 218, 252);
}

.dialog button {
  margin-top: 10px;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
   }
.todo{
     width: 300px;
     display: flex;
     flex-direction: column;
     text-align: center;
}
input[type="text"] {
   
    padding: 8px;
   
    border: 1px solid #9999;
    
    border-radius: 5px;
   
  }
  input[type="text"]:focus {
    border-color: #007bff; 
    outline: none; 
    border-radius: 5px;
    border: 2px solid blue; 
  }

  button {
    margin-top: 5px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  ul {
    margin: 10px 0;
    list-style: none;
    padding: 0;
  }
  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }

  .form-container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0px 3px 4px 4px  #bba8a81a;
  }
  .form-group{

    margin-bottom: 15px;
  }
  label { 
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input {
   
    width: 100%;
    padding: 8px ;
    border: 1px solid #9999;
    border-radius: 5px;
    box-shadow:  3px 3px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  input.error {
    border-color: red;
  }
 
  input:focus {
    border-color: #007bff; 
    outline: none; 
    border-radius: 5px;
    border: 2px solid blue; 
  }
  #error-name,#error-email, #error-password{
    font-size: small;
    color: red;
    margin: 5px 0 15px 0;
  }
 #submit{
    width: 100%;
 }